<div id="matches-component">

  <div class="container">
    <h1>Search Form</h1>
    <form>
      <div class="form-group">
        <label for="hasphoto">has photo?</label>
        <input type="checkbox" class="form-control" id="hasphoto" [(ngModel)]="model.hasphoto" name="hasphoto">
      </div>
      <div class="form-group">
        <label for="incontact">is in contact?</label>
        <input type="checkbox" class="form-control" id="incontact" [(ngModel)]="model.incontact" name="incontact">
      </div>
      <div class="form-group">
        <label for="isfavourite">is favourite?</label>
        <input type="checkbox" class="form-control" id="isfavourite" [(ngModel)]="model.isfavourite" name="isfavourite">
      </div>
      <div class="form-group">
        <label for="compatibilityscore">Compatibility score range</label>
        <div name="compatibilityscore">
          <div class="form-group">
            <label for="mincompatibilityscore">Min</label>
            <input type="range" class="form-control" name="mincompatibilityscore" id="mincompatibilityscore" [(ngModel)]="model.mincompatibilityscore">
          </div>
          <div class="form-group">
            <label for="maxcompatibilityscore">Max</label>
            <input type="range" class="form-control" name="maxcompatibilityscore" id="maxcompatibilityscore" [(ngModel)]="model.maxcompatibilityscore">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="age">Age range</label>
        <div name="age">
          <div class="form-group">
            <label for="minimumage">Min</label>
            <input type="range" class="form-control" name="minimumage" id="minimumage" [(ngModel)]="model.minimumage">
          </div>
          <div class="form-group">
            <label for="maximumage">Max</label>
            <input type="range" class="form-control" name="maximumage" id="maximumage" [(ngModel)]="model.maximumage">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="height">Height range</label>
        <div name="height">
          <div class="form-group">
            <label for="minimumheight">Min</label>
            <input type="range" class="form-control" name="minimumheight" id="minimumheight" [(ngModel)]="model.minimumheight">
          </div>
          <div class="form-group">
            <label for="maximumheight">Max</label>
            <input type="range" class="form-control" name="maximumheight" id="maximumheight" [(ngModel)]="model.maximumheight">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="distance">Distance (km)</label>
        <select name="distance" id="distance" [(ngModel)]="model.distanceinkm">
          <option value="">Please select</option>
          <option value="30">lower bound 30 km</option>
          <option value="300">upper bound 300 km</option>
        </select>
      </div>
      <div class="form-group">
          <button type="button" (click)="getUsers()">Get Users</button>
      </div>

    </form>
  </div>
</div>
<hr>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="row">Name</th>
        <th>Age</th>
        <th>Height (cm)</th>
        <th>Job Title</th>
        <th>Religion</th>
      </tr>
    </thead>
    <tbody *ngIf="results">
        <tr *ngFor="let user of hack(results.userdata)">
          <td scope="row">{{user.displayname}}</td>
          <td>{{user.age}}</td>
          <td>{{user.height}}</td>
          <td>{{user.jobtitle}}</td>
          <td>{{user.religion}}</td>
        </tr>
    </tbody>
  </table>
</div>